.page-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    width: 150vh;
    text-align: center;
}

.chat-bot {
    margin-left: 250px;
    width: 100vh;
    color: black;
}

.body {
    display: flex;
    justify-content: center;
    background-color: grey;
    align-items: center;
    height: 100vh;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    width: 100px;  /* Set equal width and height */
    height: 100px;
    border-radius: 50%;  /* Makes it a perfect circle */
    background-color: white;
    color: white;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.superlike:hover {
    background-color: yellow;
    border-color: yellow;
}
  
.dislike:hover {
    background-color: #ff5a5a;
    border-color: #ff5a5a;
}
  
.like:hover {
    background-color: #21ce99;
    border-color: #21ce99;
}